<nav>
  <dl>
    <dt>
      <a routerLink="/clientes">Lista de clientes</a>
    </dt>
    <dd>
      <a routerLink="/clientes/create">Cadastrar novo</a>
    </dd>
    <dt>
      <a routerLink="/produtos">Lista de produtos</a>
    </dt>
    <dd>
      <a routerLink="/produtos/create">Cadastrar novo</a>
    </dd>
    <dt>
      <a routerLink="/pedidos">Lista de pedidos</a>
    </dt>
    <dd>
      <a routerLink="/pedidos/create">Realizar venda</a>
    </dd>
  </dl>
</nav>
<div>
  <router-outlet></router-outlet>
</div>